{% extends "website/base.html" %} {% block main %} {% load staticfiles%}

<div class="col m12 s12 animated fadeIn">
    <h1 class="text-center" style=" font-family: 'Play', sans-serif;
        font-size: 50px;
        color: #000000;
        font-weight: 600px;" id="Associates"> Our Associates </h1>
</div>
<div>
    <br />
</div>
<div class="panel hoverable">
    <div class='row animated fadeInLeft'>

        <div class="col m4 s12 img-center">
            <a href="http://www.cie.iiit.ac.in" target="_blank">
                <img src="{% static 'images/associates/cie-logo.png' %}" />
            </a>
        </div>
        <div class="col m4 s12 img-center">
            <a href="http://www.t-hub.co" target="_blank">
                <img src="{% static 'images/associates/t-hub-logo.png' %}" />
            </a>
        </div>
        <div class="col m4 s12 img-center">
            <a href="http://www.iiit.ac.in" target="_blank">
                <img src="{% static 'images/associates/iiit-logo.png' %}" />
            </a>
        </div>
    </div>
</div>

<br /><br />

<div class="text-center animated fadeIn">
    <h1 style=" font-family: 'Play', sans-serif;
        font-size: 50px;
        color: #000000;
        font-weight: 600px;" id="Partners"> Our Partners </h1>
</div>

<div class="panel hoverable">
    <div class='row animated fadeInLeft'>

        <div class="col m4 s12 img-center">
            <a href="http://www.ecell.in" target="_blank">
                <img src="{% static 'images/associates/ecell-iitb.png' %}" height="200" width="300" />
            </a>
        </div>
        <div class="col m4 s12 img-center">
            <a href="http://www.iiitd.ecell.io" target="_blank">
                <img src="{% static 'images/associates/ecell-iiitd.png' %}" height="200" width="400" />
            </a>
        </div>
        <div class="col m4 s12 img-center">
            <a href="http://spidi2.iimb.ernet.in/~eni/" target="_blank">
                <img src="{% static 'images/associates/ecell-iimb.png' %}" height="200" width="350" />
            </a>
        </div>
    </div>
</div>
<div class="col m 1">
</div>


{% endblock %}