{% extends "website/base.html" %} {% block styles %}{% load staticfiles %}

<style>
#map {
        height: 400px;
        width: 100%;
    }
    
    #map {
        pointer-events: none;
    }
    
    .fbButton {
        background-color: #3b5998;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}
</style>
{% endblock %} {% block links %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCovObde1X51NE7fNo7fY66TXdckPdG1ik&callback=initMap" type="text/javascript"></script>
<script>
    function initMap() {
        var uluru = {
            lat: 17.445204,
            lng: 78.347994
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
{% endblock %} {% block main %}
<div class="col-md-12 animated fadeIn">
    <h1 class="text-center" style=" font-family: 'Play', sans-serif;
        font-size: 50px;
        color: #000000;
        font-weight: 600px;"> &nbsp;&nbsp;Contact Us </h1>
</div>

<div>
    <br />
</div>
<div class="panel panel-default">
    <div class='row animated fadeIn'>
        <div class="col s12 m4">
            <div class="card center" style="width: auto;">
                <div class="row">
                    <img style="border-radius: 100%; height: 200px ; width:200px" src="{% static 'images/Core Team/Ayush.jpg' %}" />
                </div>
                <div class="row">
                    <p style="font-family:'Lato',serif; font-size:30px">&nbsp; Ayush Deva</p>
                </div>
                <div class="row">
                    <p style="font-style: italic; font-family: 'Open Sans', sans-serif;font-size:17px">Partnerships and Ventures</p>
                </div>
                <div class="row">
                    <p style="font-family: 'Open Sans', sans-serif;font-size:17px">&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +91 7081427171</p>
                </div>
                <div class="row">
                    <p style=" font-family: 'Open Sans', sans-serif;font-size:17px"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; ayush.deva@students.iiit.ac.in</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card center" style="width: auto;">
                <div class="row">
                    <img style="border-radius: 100%; height: 200px ; width:200px" src="{% static 'images/Core Team/Vivek.jpg' %}" />
                </div>
                <div class="row">
                    <p style="font-family:'Lato',serif; font-size:30px">&nbsp; Vivek Kaushal</p>
                </div>
                <div class="row">
                    <p style="font-style: italic; font-family: 'Open Sans', sans-serif;font-size:17px">Corporate Relations</p>
                </div>
                <div class="row">
                    <p style="font-family: 'Open Sans', sans-serif;font-size:17px">&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +91 8757251547</p>
                </div>
                <div class="row">
                    <p style=" font-family: 'Open Sans', sans-serif;font-size:17px"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; vivek.kaushal@research.iiit.ac.in</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card center" style="width: auto;">
                <div class="row">
                    <img style="border-radius: 100%; height: 200px ; width:200px" src="{% static 'images/Core Team/Gokul.jpg' %}" />
                </div>
                <div class="row">
                    <p style="font-family:'Lato',serif; font-size:30px">&nbsp; Gokul B Nair</p>
                </div>
                <div class="row">
                    <p style="font-style: italic; font-family: 'Open Sans', sans-serif;font-size:17px">Events and Management</p>
                </div>
                <div class="row">
                    <p style="font-family: 'Open Sans', sans-serif;font-size:17px">&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +91 9618499892</p>
                </div>
                <div class="row">
                    <p style=" font-family: 'Open Sans', sans-serif;font-size:17px"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; gokulb.nair@research.iiit.ac.in</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr size=5 />
<p style="text-align:center; font-family: 'Open Sans', sans-serif;font-size:17px"> Mail us at <a href="mailto:ecell@iiit.ac.in">ecell@iiit.ac.in </a> or checkout our <a href="https://www.facebook.com/ecell.iiithyd"> facebook page</a> for more information.</p>

<hr size=5 />
</div>

<div class="card-content" id="map">
</div>
{% endblock %}
