{% extends "website/base.html" %} {% load static %} {% block main %}
<style>
    /* The Modal (background) */
    
    #myModal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 70px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }
    /* Modal Content (image) */
    
    .modalcontent {
        margin: auto;
        display: block;
        max-height: 30%;
        max-width: 30%;
        width: auto;
        height: auto overflow-x: auto;
    }
    /* The Close Button */
    
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #999;
    }
    
    .cursor {
        cursor: pointer
    }
    /* Next & previous buttons */
    
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }
    
    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
    /* Position the "next button" to the right */
    
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    
    .prev:hover,
    .next:hover {
        background-color: #FFF000;
        color: black;
    }
</style>


<div class="row">
    <div class="col s3">
        <img src="{% static 'images/b.jpg' %}" style="width:100%" onclick="openModal();currentSlide(1)">
    </div>

</div>

<div id="myModal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="mySlides" alt="1">
        <img src="{% static 'images/b.jpg' %}" style="width:100%" class="modalcontent">
    </div>

    <div class="mySlides" alt="2">
        <img src="{% static 'images/b.jpg' %}" style="width:100%" class="modalcontent">
    </div>

    <div class="mySlides" alt="3">
        <img src="{% static 'images/b.jpg' %}" style="width:100%" class="modalcontent">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div class="caption-container">
        <p id="caption"></p>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.carousel').carousel();
    });

    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
        captionText.innerHTML = slides[slideIndex - 1].alt;
    }
</script>
{% endblock %}