{% extends "website/base.html" %} {% load staticfiles %} {% block links %}
<script src="{% static 'js/moment.js' %}"></script>
<link href="{% static 'css/calendar.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/flexslider.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/calendar.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
        $('.collapsible-header').addClass('active');
        // insert calender events, etc using this function
        $('#calendar').fullCalendar({});
        $('.slider').slider();
        $('.carousel.carousel-slider').carousel({
            fullWidth: true
        });
    });
</script>
{% endblock %} {% block styles %}
<style>
    #main-cont {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    .bg_white {
        background: white !important;
    }
    
    .line_height>span>p {
        background: #484848;
        color: white;
        display: inline-block;
    }
    
    .index-round-image {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    
    #events,
    #testimonials {
        position: relative;
        max-height: 200px !important;
        width: 100%;
        overflow: hidden;
        vertical-align: baseline;
    }
    
    .news-title {
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: 600px;
        color: chocolate;
    }
    
    .news-content {
        font-family: 'Open Sans';
        font-size: 15px;
        text-align: justify;
    }
</style>
{% endblock %} {% block main %}
<div class="container" id="main-cont">
    <!-- FLEX SLIDER -->
    <div class="row">
        <div class="slider-1 clearfix" style="width: 100% !important; max-width: 100% !important;">
            <div class="flex-container">
                <div class="flexslider">
                    <ul class="slides">

                        <!--
                        <li style="background: url(&quot;{% static 'images/index/poster.png' %}&quot;) 50% 0px / cover no-repeat; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">

                            <div class="container">
                                <div class="sixteen columns contain">
                <                    <h2 data-toptitle="28%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot line_height" style="color: rgb(25, 75, 174); top: 28%; left: 0px; opacity: 1;">
                                        <span class="bold">
											
                                            <p>Blockchain Bytes - Ethereum Co-Founder Speaks</p>
										</span>
                                    </h2>>
                                    <p data-bottomtext="30%" class="bot-15-767 flex-bot-top" style="bottom: -50%; left: 0px; opacity: 0;"><a class="button medium thin hover-dark tp-button orange bg_white" href="https://docs.google.com/forms/d/e/1FAIpQLSfQqkKAzEhhy8446R5s1xdntWVXut8vI5GRgZHN8ZprIXnbvA/viewform?c=0&w=1" target="_blank">RSVP to Attend</a></p>

                                </div>
                            </div>
                            <  End Container >
                        </li>

                        <  End item  >
			-->
                        <!-- SLIDE 1 -->
                        <!-- <li style="background: url(&quot;{% static 'images/index/coolspace.jpg' %}&quot;) 50% 0px / cover no-repeat; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">

                            <div class="container">
                                <div class="sixteen columns contain">
                                    <h2 data-toptitle="28%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot line_height" style="color: rgb(25, 75, 174); top: 28%; left: 0px; opacity: 1;">
                                        <span class="bold">
											
                                            <p>SPACE AND</p><br>
						<p>ENTREPRENEURSHIP:</p><br>
						 <p>MINI-SAT WORKSHOP</p><br>
										</span>
                                    </h2>
                                    <p data-bottomtext="30%" class="bot-15-767 flex-bot-top" style="bottom: -50%; left: 0px; opacity: 0;"><a class="button medium thin hover-dark tp-button orange bg_white" href="http://spacedevelopmentnexus.com/iiit-hyderabad-mini-sat-workshop/" target="_blank">KNOW MORE</a></p>
                                </div>
                            </div>
                            < End Container >
                        </li> -->
                        <li style="background: url(&quot;{% static 'images/index/summit.jpeg' %}&quot;) 50% 0px / cover no-repeat; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">

                            <div class="container">
                                <div class="sixteen columns contain">
                                    <h2 data-toptitle="28%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot line_height" style="color: rgb(25, 75, 174); top: 28%; left: 0px; opacity: 1;">
                                        <span class="bold">
                                            
                                            <p>15th Annual Entrepreneur Start-up Summit, 2018</p><br>
                                        </span>
                                    </h2>
                                    <p data-bottomtext="30%" class="bot-15-767 flex-bot-top" style="bottom: -50%; left: 0px; opacity: 0;"><a class="button medium thin hover-dark tp-button orange bg_white" href="/website/events" target="_blank">KNOW MORE</a></p>
                                </div>
                            </div>
                            <!-- End Container -->
                        </li>
			<!-- End Item -->
                        <!-- SLIDE 2 -->
                        <li style="background: url(&quot;{% static 'images/index/bulb.jpg' %}&quot;) 50% 0px / cover no-repeat; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">

                            <div class="container">
                                <div class="sixteen columns contain">
                                    <h2 data-toptitle="49%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot line_height" style="color: rgb(25, 75, 174); top: 49%; left: 0px; opacity: 0;">
                                        <span class="bold">
											<p>"ALL IT TAKES,</p><br>
											<p>IS ONE GOOD</p><br>
											<p>IDEA."</p><br>
										</span>
                                    </h2>
                                    <!--<p data-bottomtext="30%" class="bot-15-767 flex-bot-top" style="bottom: 30%; left: 0px; opacity: 1;"><a class="button medium thin hover-dark tp-button orange bg_white" href="#">KNOW MORE</a></p>-->
                                </div>
                            </div>
                            <!-- End Container -->

                        </li>
                        <!-- End item -->
                        <!-- SLIDE 3 -->
                        <!--<li style="background: url(&quot;{% static 'images/fairposter.png' %}&quot;) 50% 0px / cover no-repeat; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">

                            <div class="container">
                                <div class="sixteen columns contain">
                                    <h2 data-toptitle="19%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot line_height" style="color: rgb(25, 75, 174); top: 19%; left: 0px; opacity: 0;">
                                        <span class="bold">
											<p>THIS</p><br> 
											<p>IS A</p><br> 
											<p>SAMPLE</p><br>   
											<p>TEXT</p>
										</span>
                                    </h2>
                                    <p data-bottomtext="30%" class="bot-15-767 flex-bot-top" style="bottom: -50%; left: 0px; opacity: 0;"><a class="button medium thin hover-dark tp-button blue bg_white" href="#">KNOW MORE</a></p>
                                </div>
                            </div>-->
                        <!-- End Container -->
                        <!--</li>-->
                        <!-- End item -->

                        <!--<li style="background: url(&quot;{% static 'images/slidepic.jpg' %}&quot;) 50% 0px / cover no-repeat; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">

                            <div class="container">
                                <div class="sixteen columns contain">
                                    <h2 data-toptitle="28%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot line_height" style="color: grey; top: 28%; left: 0px; opacity: 0;">
                                        <span class="bold">
											<p>IIIT-H'S</p><br>
											<p>ENTREPRENEURSHIP</p><br>
											<p>SUMMIT</p>
										</span>
                                    </h2>
                                    <p data-bottomtext="30%" class="bot-15-767 flex-bot-top" style="bottom: -50%; left: 0px; opacity: 0;"><a class="button medium thin hover-dark tp-button grey bg_white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">KNOW MORE</a></p>

                                </div>
                            </div>-->
                        <!-- End Container -->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!-- End slider -->
    </div>
    <div class="divider"></div>
    <!--'Who Are We?' Section-->
    <div class="row text-center" id="who-are" onfocus="$('#who-are').addClass('animated fadeIn');">
        <h3 class="orange-text">WHO ARE WE?</h3>
    </div>
    <div class="row animated slideInRight">
        <div class="col m1"></div>
        <div class="col m10" style="text-align:justify"><span class="flow-text">
			Entrepreneurship Cell, IIIT Hyderabad is a non-profit organization run by students, and has been established with the objective of creating, manifesting and guiding the entrepreneurial spirit in the student community and to encourage them to be successful
			entrepreneurs.
		</span>
        </div>
        <div class="col m1"></div>
    </div>
    <br />
    <div class="row animated fadeIn">
        <a href="/website/events/#talks">
            <div class="col s12 m3">
                <div class="card-panel hoverable">
                    <img src="{% static 'images/index/talk.jpg'%}" class="responsive-img circle" />
                    <div class="center-align">
                        <h2><strong>Talks</strong></h2>
                    </div>
                </div>
            </div>
        </a>
        <a href="/website/events/#hackathons">
            <div class="col s12 m3">
                <div class="card-panel hoverable">
                    <img src="{% static 'images/index/hackathon.jpg'%}" class="responsive-img circle" />
                    <div class="center-align">
                        <h2><strong>Hackathons</strong></h2>
                    </div>
                </div>
            </div>
        </a>
        <a href="/website/events/#workshops">
            <div class="col s12 m3">
                <div class="card-panel hoverable">
                    <img src="{% static 'images/index/workshop.jpg'%}" class="responsive-img circle" />
                    <div class="center-align">
                        <h2><strong>Workshops</strong></h2>
                    </div>
                </div>
            </div>
        </a>
        <a href="/website/about/vision">
            <div class="col s12 m3">
                <div class="card-panel hoverable">
                    <img src="{% static 'images/index/success.jpg'%}" class="responsive-img circle" />
                    <div class="center-align">
                        <h2><strong>Innovation</strong></h2>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="divider"></div>

    <!--Updates Section-->
    <div class="row">
        <div class="col m1 s1"><span class="flow-text orange-text">Updates:</span></div>
        <div class="col m11 s12">
            <p style="font-size:20px">
Talks and Workshops coming up for <a href="https://felicity.iiit.ac.in" target="_blank">Felicity, 2018!</a>
            </p>
        </div>
    </div>

    <div class="divider"></div>

    <!--Pseudo Gallery-->
    <div class="row text-center">
        <h2>Events and Workshops</h2>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-offset-0 " id="gallery" style="padding-bottom: 10px; margin-bottom: 10px;">
            <div class="row">
                <!-- ITEM -->
                <div class="col-md-3 plr-0 lightbox-item">
                    <a href="#">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{% static 'images/index/collage8.jpg' %}" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">
                        <a href="#">
                        </a>
                        <div class="port-btn-cont">
                            <a href="#">
                            </a>
                            <a href="#" class="lightbox mr-20">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-md-3 plr-0 lightbox-item">
                    <a href="#">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{% static 'images/index/collage7.jpg' %}" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">
                        <a href="#">
                        </a>
                        <div class="port-btn-cont">
                            <a href="#">
                            </a>
                            <a href="#" class="lightbox mr-20">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-md-3 plr-0 lightbox-item">
                    <a href="#">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{% static 'images/index/collage6.jpg' %}" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">
                        <a href="#">
                        </a>
                        <div class="port-btn-cont">
                            <a href="#">
                            </a>
                            <a href="#" class="lightbox mr-20">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 plr-0 lightbox-item">
                    <a href="#">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{% static 'images/index/collage5.jpg' %}" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">
                        <a href="#">
                        </a>
                        <div class="port-btn-cont">
                            <a href="#">
                            </a>
                            <a href="#" class="lightbox mr-20">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 plr-0 lightbox-item">
                    <a href="#">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{% static 'images/index/collage2.jpg' %}" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">
                        <a href="#">
                        </a>
                        <div class="port-btn-cont">
                            <a href="#">
                            </a>
                            <a href="#" class="lightbox mr-20">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 plr-0 lightbox-item">
                    <a href="#">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{% static 'images/index/collage1.jpg' %}" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">
                        <a href="#">
                        </a>
                        <div class="port-btn-cont">
                            <a href="#">
                            </a>
                            <a href="#" class="lightbox mr-20">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 plr-0 lightbox-item">
                    <a href="#">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{% static 'images/index/collage4.jpg' %}" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">
                        <a href="#">
                        </a>
                        <div class="port-btn-cont">
                            <a href="#">
                            </a>
                            <a href="#" class="lightbox mr-20">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 plr-0 lightbox-item">
                    <a href="#">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{% static 'images/index/collage3.jpg' %}" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">
                        <a href="#">
                        </a>
                        <div class="port-btn-cont">
                            <a href="#">
                            </a>
                            <a href="#" class="lightbox mr-20">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="divider"></div>
    <div class="row">
        <!--Calendar-->
        <div class="col s12 m5 hide-on-small-only">
            <div class="card-panel">
                <div id="calendar"></div>
            </div>
        </div>
        <div class="divider hide-on-med-and-up"></div>
        <!--News-->
        <div class="col s12 m7">
            <br />
            <div class="flow-text"> E-News:</div>
            <div class="divider"></div>
            <ul class="collapsible popout " data-collapsible="accordion">
                <li>
                    <div class="collapsible-header orange-text text-darken-2 active"><a class="newslink" target="_blank" href="https://www.entrepreneur.com/article/240288">20 Must-Reads for Aspiring Entrepreneurs</a></div>
                    <div class="collapsible-body">
                        <p>
                            If you want to take your new business or idea to the next level, start by going through some or all of these must-read resources for aspiring entrepreneurs.
                        </p>
                    </div>
                </li>
                <li>

                    <div class="collapsible-header orange-text text-darken-2"><a class="newslink" target="_blank" href="https://youtu.be/HxCH_lxQ4Nk?list=FLi9EmVSUm7nNDrucwkGWhBg">How Elon Musk Stands Apart</a></div>
                    <div class="collapsible-body">
                        <p>
                            It takes a lot of hardwork and effort to build a single company, It takes immense pain to make it successful. Elon Musk made Zip2, Paypal, X.com, SpaceX, Tesla, Solarcity and took them to great heights.
                        </p>
                    </div>
                </li>
                <li>

                    <div class="collapsible-header orange-text text-darken-2"><a class="newslink" target="_blank" href="https://yourstory.com/2017/04/budding-entrepreneurs-can-learn-successful-counterparts/">What Budding Entrepreneurs Can Learn from Their Successful Counterparts</a></div>
                    <div class="collapsible-body">
                        <p>
                            Many budding entrepreneurs encounter failure due to lack of guidance and mentoring. But some of the successful ones who have made it big in the startup league have credited their success to learning from other successful entrepreneurs.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="divider"></div>

        <!--Testimonials Carousel-->
        <div class="row">
            <div class="carousel carousel-slider" id="testimonials" data-indicators="true">
                <div class="carousel-item" href="#one!">
                    <img src="{% static 'images/b.jpg' %}" class="responsive-img">
                </div>
                <div class="carousel-item" href="#two!">
                    <img src="{% static 'images/b.jpg' %}" class="responsive-img">
                </div>
            </div>
        </div>
    </div>
    <!-- JS begin -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- MAGNIFIC POPUP -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <!-- PORTFOLIO SCRIPTS -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>


    <!-- APPEAR -->
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <!-- FLEX SLIDER SCRIPTS  -->
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/flex-slider.js' %}"></script>
    <script>
        //AutoScroll for events

        autoplay1();

        function autoplay1() {
            $('#mainCarousel').carousel('next');
            setTimeout(autoplay1, 4000);
        }
        //AutoScroll for testimonials
        autoplay2()

        function autoplay2() {
            $('#testimonials').carousel('next');
            setTimeout(autoplay2, 5000);
        }
    </script>
    {% endblock %}
