{% extends "website/base.html" %} {% load static %} {% block main %}{% load staticfiles %}
<style>
    tr,
    td,
    th {
        text-align: center;
    }
    /* User Card */
    
    .user .parent-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1em;
    }
    
    .user .parent {
        justify-content: center;
    }
    
    .user .card {
        width: 200px;
        margin-left: 4em;
        margin-right: 4em;
        margin-top: 2em;
        display: inline-grid;
    }
    
    .user .data.thumbnail {
        max-height: 100px;
    }
    
    .user .empty {
        /*background-color: #d4d7d;*/
        height: 5em;
    }
    
    .user .data {
        background-color: #263238;
        color: white;
        height: 200px;
        padding: 10px;
    }
    
    .user .dp {
        margin-top: -5em;
        border-radius: 100%;
    }
    
    .user .name {
        font-size: 1.1em;
        font-weight: 300;
        padding: 0.5em;
        text-align: center;
    }
    
    .user .handle {
        font-size: 1em;
        text-align: center;
        opacity: 0.7;
        padding: 0.5em;
    }
    
    .user .phoneNo {
        font-size: 0.8em;
        text-align: center;
        padding-top: 0.5em;
    }
    
    .user .links {
        margin-bottom: 0px;
        text-align: center;
        bottom: 0;
        position: absolute;
        padding-bottom: 1em;
        left: 0;
        right: 0;
        word-wrap: break-word;
        margin-top: 1em;
        text-align: justify;
        letter-spacing: 0.1em;
    }
    
    .user .links .row {
        margin-bottom: 5px;
        display: flex;
        text-align: center;
    }
    
    .user .links .row .link {
        flex-grow: 1;
        display: inline-block;
        float: none;
        /* reset the text-align */
        text-align: right;
        /*inline-block space fix */
        margin-right: -4px;
    }
    
    @media only screen and (min-width: 993px) {
        .container {
            width: 80%;
        }
    }
</style>

<div class="col animated fadeIn">
    <h1 class="text-center" style=" font-family: 'Play', sans-serif;
        font-size: 50px;
        color: #000000;
        font-weight: 600px;">Core Team </h1>
</div>
<div class="container user">
    <div class="row parent-wrapper center">
        <div>
            {% for instance in person %}{% if instance.firstName == 'Dhriti' %}
            <div class="card child">
                <div class="empty yellow darken-3"></div>
                <div class="card-action data center">
                    <img class="dp center" height="100" src="{% static 'images/Core Team/' %}{{ instance.firstName }}.jpg">
                    <div class="name">{{ instance.firstName }} {{ instance.lastName }}</div>
                    <div class="handle">{{ instance.position }}</div>
                    <div class="phoneNo "><span class="fa fa-phone"></span>&nbsp; -</div>
                    <div class="center links">
                        <div class="row">
                            <a href="mailto:{{ instance.email }}" class="link waves-effect email"><span class="fa fa-envelope" aria-hidden="true"></span></a>
                            <a href="{{ instance.fb }}" target="_blank" class="link waves-effect facebook-link"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            <a href="{{ instance.linkedin }}" target="_blank" class="link waves-effect linkedin-link"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
	   {% else %}
            <div class="card child">
                <div class="empty yellow darken-3"></div>
                <div class="card-action data center">
                    <img class="dp center" height="100" src="{% static 'images/Core Team/' %}{{ instance.firstName }}.jpg">
                    <div class="name">{{ instance.firstName }} {{ instance.lastName }}</div>
                    <div class="handle">{{ instance.position }}</div>
                    <div class="phoneNo "><span class="fa fa-phone"></span>&nbsp; {{instance.phoneNo}}</div>
                    <div class="center links">
                        <div class="row">
                            <a href="mailto:{{ instance.email }}" class="link waves-effect email"><span class="fa fa-envelope" aria-hidden="true"></span></a>
                            <a href="{{ instance.fb }}" target="_blank" class="link waves-effect facebook-link"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            <a href="{{ instance.linkedin }}" target="_blank" class="link waves-effect linkedin-link"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
	    {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!--Memebers' Section, to be added once teams are finalised.-->
<div class="row">
    <h3 class="text-center" style=" font-family: 'Play', sans-serif;
        font-size: 50px;
        color: #000000;
        font-weight: 600px;"> Members </h3>
</div>

<div class="row" style="margin-left: 30px; ">
    <div class="col s12">
        <table class="striped responsive-table ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th colspan="2 ">Social Media</th>
                    <th>Work Position</th>
                </tr>
            </thead>
            <tbody style="text-align: center; ">
                {% for p in person %}
                <tr>
                    <td>{{ p.firstName }} {{ p.lastName }}</td>
                    <td>{{ p.email }}</td>
                    <td>{{ p.phoneNo }}</td>
                    <td><a href="{{ p.fb }} " target="_blank "><i class="fa fa-facebook "></i></td>
                        <td><a href="{{ p.linkedin }} " target="_blank "><i class="fa fa-linkedin "></i></td>
                        <td>{{ p.position }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
