{% extends "website/base.html" %} {% block main %} {% load staticfiles%}

<div class="text-center animated fadeIn">
    <h1 style=" font-family: 'Play', sans-serif;
        font-size: 50px;
        color: #000000;
        font-weight: 600px;"> &nbsp;&nbsp;Our Vision </h1>
</div>

<div class="panel hoverable">
    <div class='row animated fadeInLeft'>
        <div class="col m1">
        </div>
        <div class="col m3 s12 img-center">
            <br /><br />
            <img src="{% static 'images/vision.png' %}" />
        </div>
        <div class="col m1 hide-on-small-only">
            <i class="fa fa-quote-left fa-4x" aria-hidden="true"></i> <br />
        </div>
        <div class="col m6 s12">
            <br />
            <hr size=5>
            <p class="flow-text justify">
                We want to build an ecosystem where networking and knowledge sharing can happen. The cell conducts numerous workshops, seminars, events and interactive sessions with eminent entrepreneurs, thus, providing the students unparalleled exposure to the entrepreneurial
                world. It also provides the students a platform to work on the live projects from start-ups which adds a star to their work experience and boosts management expertise.
            </p>
            <hr size=5>
        </div>
    </div>
</div>

<br /><br />


<!--More Details to be uploaded here-->




<!--<div class=" animated fadeIn text-center" id="success-stories">
    <h1 style=" font-family: 'Play', sans-serif;
        font-size: 50px;
        color: #000000;
        font-weight: 600px;">Our Presence </h1>

</div>

<div class="panel hoverable ">
    <div class='row animated fadeInLeft'>

        reg
    </div>
</div>-->


{% endblock %}